---
# Based on ansible-lint config
extends: default

ignore: |
  sam-app/.aws-sam/

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
  truthy: disable
